$color_1: #fff;
$color_2: gold;
$color_3: black;
$color_4: white;
$font-family_1: "Albert Sans", sans-serif;
$background-color_1: black;
$background-color_2: #fff;
$background-color_3: green;
$signup-color: lightgrey;
.supp {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.supportinfobox {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.support__cards {
  display: flex;
  margin-top: -2rem;
  flex-direction: row;
}
.support_secondcard img {
  width: 10rem;
}
.support_secondcard {
  display: flex;
  margin-right: 12rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support_secondcard_phoneheader {
  font-size: 1.3rem;
}
@keyframes phoneAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.support_secondcard_phonenumber {
  font-size: 18px;
  margin: 0;
  margin-top: 1rem;
  display: inline-block;
  font-weight: bold;
}
.support_secondcard_emailheader {
  font-size: 1.3rem;
}
.support_secondcard_socials {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.support_secondcard_socials img {
  width: 2rem;
  cursor: pointer;
}
.support_secondcard_email {
  font-weight: 700;
  font-size: 18px;
  margin-top: 1rem;
}
.support_secondcard_phonenumber span {
  display: inline-block;
  animation: phoneAnimation 2.3s infinite;
}

.support_secondcard_phonenumber span:nth-child(1) {
  animation-delay: 0s;
}

.support_secondcard_phonenumber span:nth-child(2) {
  animation-delay: 0.1s;
}

.support_secondcard_phonenumber span:nth-child(3) {
  animation-delay: 0.2s;
}

.support_secondcard_phonenumber span:nth-child(4) {
  animation-delay: 0.3s;
}

.support_secondcard_phonenumber span:nth-child(5) {
  animation-delay: 0.4s;
}

.support_secondcard_phonenumber span:nth-child(6) {
  animation-delay: 0.5s;
}

.support_secondcard_phonenumber span:nth-child(7) {
  animation-delay: 0.6s;
}

.support_secondcard_phonenumber span:nth-child(8) {
  animation-delay: 0.7s;
}

.support_secondcard_phonenumber span:nth-child(9) {
  animation-delay: 0.8s;
}

.support_secondcard_phonenumber span:nth-child(10) {
  animation-delay: 0.9s;
}
.supportheader {
  font-size: 3rem;
  position: relative;
  text-decoration: none;
}

.supportinfobox {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.supportform {
  width: 100%;
  margin-top: 2rem;
}
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-shadow: 0px 10px 25px -19px rgba(0, 0, 0, 1);
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border-bottom: 2px solid #000;
}

textarea.form-control {
  resize: vertical;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}
.form-check {
  display: flex;
  gap: 0.5rem;
}
.form-check-label {
  font-size: 14px;
}
.supportsend {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.success-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 15px;
  border-radius: 10px;
  z-index: 9999;
  animation: slide-up 0.5s ease-out;
}
.tos {
  cursor: pointer;
}

@media (max-width: 1050px) {
  .support__cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .supportinfobox {
    width: auto;
  }
  .support_secondcard {
    margin-right: 0;
    padding-bottom: 7rem;
    padding-top: 2rem;
    border-top: 2px solid black;
  }
}
